$theme-color:#74a0ed;
$theme-light:lighten($theme-color, 25%);
$theme-dark:darken($theme-color, 25%);

@mixin reset {
    margin:0;
    padding:0;
}

@mixin display($type){
    display: $type;
}

@mixin flex ($direction){
    @include display (flex);
    flex-direction: $direction;
}

body{
    @include reset;
}

header{
    background-color: $theme-light;
    @include flex(row);
    justify-content: space-between;
    align-items: center;
    .logo{
        max-width:60px;
        padding:5px;
    }
    h1{
        margin: 0;
        padding:5px;
    }
}

#task-form{
    @include flex(row);
    input {
        flex:1;
        padding: 5px;
        box-sizing: border-box;
        border:1px solid $theme-color;
        background-color: $theme-light;
    }
    input:focus{
        background-color: white;
        outline:none;
    }
    button {
        max-width: 100px;
        padding:5px;
    }
}
#task-list{
    @include reset;
    li{
        border-bottom:1px solid #cccccc;
        .task-container{
            @include flex(row);
            justify-content: space-between;
            .task-name{
                padding: 1em;
                font-size: 20px;
                font-style: bold;
                
            }
            .task-buttons{
                @include flex(row);
                margin-top: 0.5em;
                button {
                    width:48px;
                    height: 48px;
                    font-size: 1.5em;
                    background-color: transparent;
                    border: 1px solid transparent;
                    margin-top: 0em;
                    border-left: 1px solid #cccccc;
                }
                button:focus{
                    outline: none;
                    background-color: #cccccc;
                }
                button:hover {
                    background-color: palegreen;
                }
                #deleteButton {
                    font-size:35px;
                    padding-top: 5px;
                   
                }
                #deleteButton:hover{
                    background-color: lightcoral;
                }
                button[data-function='done']{
                    font-size: 1
                }
            }
        }
    }
    li:hover {
        border-bottom:1.5px solid darkblue;
        border-top:1.5px solid darkblue;
        padding:7px 0px 7px 0px;
        
    }
}
footer {
    justify-content: center;
    text-align: center;
}